@import '~shared/styles/functions';
@import '~shared/styles/variables';

.Window {
  position: absolute;
  right: rem(10);
  bottom: rem(40);
  width: rem(350);
}

.Header {
  padding: rem(3);
  background-color: $white-grey;
  cursor: pointer;
}

.Content {
  margin-bottom: rem(5);
  height: rem(500);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid $white-grey;
}

.Messages {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: rem(5);
}

.InputWrapper {
  width: 97%;
  display: flex;
  align-self: center;
  margin-bottom: rem(5);
}

.SendButton {
  margin-left: rem(5);
}

.SlideUp {
  display: none;
}

.SlideDown {
  display: flex;
}

.OwnMessage {
  align-self: flex-end;
}