@import './variables';
@import './functions';

.MuiButton-textPrimary {
  color: $yellow !important;
}

.MuiButton-textSecondary {
  color: $dark-grey !important;
}

.MuiInputBase-input {
  margin: rem(7) !important;
}